@config "../../tailwind.config.js";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-heading: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes float-up {
  0% {
    transform: translate3d(0, 0, 0) scale(0.8);
    opacity: 0;
  }

  12% {
    opacity: 0.95;
  }

  50% {
    transform: translate3d(var(--float-drift-x, 0px), -65vh, 0) scale(1.05);
    opacity: 0.75;
  }

  100% {
    transform: translate3d(calc(var(--float-drift-x, 0px) * -1), -130vh, 0)
      scale(1.12);
    opacity: 0;
  }
}
@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-marquee-scroll {
  animation: marquee-scroll 8s linear infinite;
}

.animate-marquee-scroll:hover {
  animation-play-state: paused;
}

/* Remove flag background + border */
.react-tel-input .flag-dropdown {
  background: transparent !important;
  border: none !important;
}

.react-tel-input .flag-dropdown:hover {
  background: transparent !important;
  border: none !important;
}

.react-tel-input .selected-flag:hover {
  background: transparent !important;
}

.react-tel-input .selected-flag:focus {
  background: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Fix focus border like your inputs */
.react-tel-input .form-control:focus {
  border-color: #a855f7 !important; /* purple-500 */
  box-shadow: 0 0 0 2px #f3e8ff !important; /* purple-100 */
}

/* Optional: dropdown styling */
.react-tel-input .country-list {
  border-radius: 10px;
  border: 1px solid #eee;
}
